- tl_json ||= nil
%script{:type => "text/javascript"}
  - if tl_json
    var json = JSON.parse('#{tl_json}'.replace(/&quot;/g, '"'));
    var start, end;
    if (!NOVAHawk.calendar.calDateFrom || !NOVAHawk.calendar.calDateTo) {
    end = new Date();
    start = new Date(end - 24 * 60 * 60 * 1000 * 7);
    } else {
    start = new Date(NOVAHawk.calendar.calDateFrom);
    end = new Date(NOVAHawk.calendar.calDateTo);
    }
    NOVAHawk.Timeline.load(json, start, end);
